body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #76D9C7;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container-header{
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 12px; 
}

.container-header img{
    max-height: 100px;
    box-shadow: none;
    filter: none;
    -webkit-filter: none;
    transform: scaleX(-1);

}

.container-header h1 {
    font-size: 24px;
    color: black;
    font-style: italic;
    font-family: "Lemonada", cursive;
    flex-grow: 1;
    margin: 0;
}

.container-header i {
    font-size: 24px;
    color: black;
    cursor: pointer;
    font-size:40px;
    margin:10px;
}

.nav-bar{
    background-color: #84E3ED80;
    overflow: hidden;
    width: 180px;
    height: 486px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    position: fixed;
    top:124px;
    left: 0;
    z-index: 1000;
}

.nav-bar i{
    font-size: 30px;
    margin: 10px;
    line-height: 100px;
    color: black;
    cursor: pointer;
   
}

.nav-bar .icon-navbar {
    position: relative; 
    width: 100%; 
    height: auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
}

.nav-bar .icon-navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8bfc9c;
    box-shadow: 0 0 50px #07FC2C;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0; 
}

.nav-bar .icon-navbar:hover::before {
    opacity: 1; 
}

.nav-bar .icon-navbar a i {
    position: relative; 
    z-index: 1;
}

.main-container {
    margin-left: 200px;
    margin-top: 120px; 
    padding: 20px;
}

.main-container .main-search{
    display: flex;  
    margin-left: 30px;
    align-items: center;
}

.search input {
    position: relative;
    width: 390px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #D9D9D9;
    padding: 0 15px;
    padding-left: 40px;
    font-size: 16px;
}

.search i {
    position: absolute;
    left: 260px;
    transform: translateY(30%);
    font-size: 20px;
    color: #888;
    cursor: pointer;
    z-index: 200;
}

.filter {
    margin-left: 20px;
}

.filter select {
    height: 34px;
    border-radius: 10px;
    border: 2px solid #D9D9D9;
    padding: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

.add-user a{
    display: flex;
    position: relative;
    text-decoration: none;
    margin-left: 60px;
    background-color: #536FF8;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    border-radius: 10px;
}

.add-user a i {
    font-size: 25px;
    margin-right: 5px;
    color:black
}

.add-user a p {
    color: white;
    font-size: 16px;
}

.table-container {
    max-height:500px; 
    overflow-y:auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top:50px;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #D9D9D9;
}

.status-online, .status-offline {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 10px;
    width: 80px;
}

.status-online {
    background-color: #84ee9d;
}

.status-offline {
    background-color: #f36b79;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.actions a {
    text-decoration: none;
    color: #3174F0;
    padding-left: 10px;
    cursor: pointer;
    font-size: 14px;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #DFDCDC;
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 8px;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:30px;
}

.contact a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
}

.contact .fb i{ 
    color:blue
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:30px;
}

.info a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    font-size: 15px;
}

.other{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:30px;
}

.other a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.other p {
    font-size: 14px;
}