body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #76D9C7;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container-header{
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 12px; 
}

.container-header img{
    max-height: 100px;
    box-shadow: none;
    filter: none;
    -webkit-filter: none;
    transform: scaleX(-1);

}

.container-header h1 {
    font-size: 24px;
    color: black;
    font-style: italic;
    font-family: "Lemonada", cursive;
    flex-grow: 1;
    margin: 0;
}

.container-header i {
    font-size: 24px;
    color: black;
    cursor: pointer;
    font-size:40px;
    margin:10px;
}

.nav-bar{
    background-color: #84E3ED80;
    overflow: hidden;
    width: 180px;
    height: 486px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    position: fixed;
    top:124px;
    left: 0;
    z-index: 1000;
}

.nav-bar i{
    font-size: 30px;
    margin: 10px;
    line-height: 100px;
    color: black;
    cursor: pointer;
   
}

.nav-bar .icon-navbar {
    position: relative; 
    width: 100%; 
    height: auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
}

.nav-bar .icon-navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8bfc9c;
    box-shadow: 0 0 50px #07FC2C;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0; 
}

.nav-bar .icon-navbar:hover::before {
    opacity: 1; 
}

.nav-bar .icon-navbar a i {
    position: relative; 
    z-index: 1;
}

.main-container {
    margin-left: 200px;
    margin-top: 120px; 
    padding: 20px;
}

.statics {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    align-items: center;
}

.order {
    display: flex;
    width: 205px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #EDEDED;
    box-shadow: 0px 4px 50px #D9D4D4;
    padding: 15px;
}

.order h3 {
    padding-top:30px;
}

.order i {
    font-size: 30px;
    padding-top:10px;
}

.users {
    display: flex;
    width: 205px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #EDEDED;
    box-shadow: 0px 4px 50px #D9D4D4;
    padding: 15px;
}

h3 {
    font-size:30px;
}

.users h3 {
    padding-top:30px;
}

.users i {
    font-size: 30px;
    padding-top:10px;
}

.revenue {
    display: flex;
    width: 205px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #EDEDED;
    box-shadow: 0px 4px 50px #D9D4D4;
    padding: 15px;
}

.revenue h3 {
    padding-top:30px;
}

.revenue i {
    font-size: 30px;
    padding-top:10px;
}

.top-products
{
    margin-left: 110px;
}

table tr th {
    background-color: #EDEDED;
    font-size: 20px;
}

table tr td {
    text-align: center;
}

table tr {
    border-bottom: 1px solid #000000;
}

table {
    border-collapse: collapse;
    width: 91%;
    height: 300px;
    margin-bottom:30px;
    table-layout: fixed;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #DFDCDC;
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 8px;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:30px;
}

.contact a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
}

.contact .fb i{ 
    color:blue
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:30px;
}

.info a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    font-size: 15px;
}

.other{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:30px;
}


.other a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.other p {
    font-size: 14px;
}