body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #76D9C7;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container-header{
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 12px; 
}

.container-header img{
    max-height: 100px;
    box-shadow: none;
    filter: none;
    -webkit-filter: none;
    transform: scaleX(-1);

}

.container-header h1 {
    font-size: 24px;
    color: black;
    font-style: italic;
    font-family: "Lemonada", cursive;
    flex-grow: 1;
    margin: 0;
}

.container-header i {
    font-size: 24px;
    color: black;
    cursor: pointer;
    font-size:40px;
    margin:10px;
}

.nav-bar{
    background-color: #84E3ED80;
    overflow: hidden;
    width: 180px;
    height: 486px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    position: fixed;
    top:124px;
    left: 0;
    z-index: 1000;
}

.nav-bar i{
    font-size: 30px;
    margin: 10px;
    line-height: 100px;
    color: black;
    cursor: pointer;
   
}

.nav-bar .icon-navbar {
    position: relative; 
    width: 100%; 
    height: auto;
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
}

.nav-bar .icon-navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8bfc9c;
    box-shadow: 0 0 50px #07FC2C;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 0; 
}

.nav-bar .icon-navbar:hover::before {
    opacity: 1; 
}

.nav-bar .icon-navbar a i {
    position: relative; 
    z-index: 1;
}

.main-container {
    margin-left: 200px;
    margin-top: 120px; 
    padding: 20px;
}

.main-container .main-search{
    display: flex;  
    margin-left: 30px;
    align-items: center;
}

.search input {
    position: relative;
    width: 390px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #D9D9D9;
    padding: 0 15px;
    padding-left: 40px;
    font-size: 16px;
}

.search i {
    position: absolute;
    left: 260px;
    transform: translateY(30%);
    font-size: 20px;
    color: #888;
    cursor: pointer;
    z-index: 200;
}

.filter {
    margin-left: 20px;
}

.filter select {
    height: 34px;
    border-radius: 10px;
    border: 2px solid #D9D9D9;
    padding: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

.setting {
    display: flex;
    margin-left: 470px;
    font-size: 40px;
}

.setting a i {
    color: black;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    margin:80px 0 50px 30px;
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 40px;
    
}

.products-container .product-items-add img {
    width: 80px;
    height: auto;
    transform: scaleX(-1);
}

.products-container .product-items-add{
    position: relative;
    width: 250px;
    height: 220px;
    object-fit: contain;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}

.products-container .product-items-add i {
    position: absolute;
    left:5px;
    top:9px;
    font-size: 30px;
    color: black;
    cursor: pointer;
}

.products-container .product-items-add:hover {
    box-shadow: 0 0 15px #D9D9D9;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.products-container .product-items {
    position: relative;
    width: 250px;
    height: 220px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px #D9D9D9;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}

.products-container .product-items:hover {
    box-shadow: 0 0 15px #22B6E8;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.products-container .product-items img {
    position: absolute;
    max-width: 130px;
    max-height: 130px;
    object-fit: contain;
    left:5px;
    top:9px;
}

.products-container .product-items .best-seller img {
    position: absolute;
    top: 3px;
    left:2px;
    width: 40px;
    height:40px;
}

.products-container .product-items .new img {
    position: absolute;
    top: 3px;
    left:2px;
    width: 70px;
    height:70px;
    transform: rotate(-90deg);
}

.products-container .product-items h3 {
    position: absolute;
    top:5px;
    font-style: italic;
    right: 13px;
}

.products-container .product-items .star {
    position: absolute;
    top: 30px;
}

.products-container .product-items h4 {
   position: absolute;
   bottom: 0px;
}

.products-container .product-items p {
    position: absolute;
    font-size: 25px;
    font-style: bold;
    bottom:50px;
    right:8px;
}

.products-container .product-items span {
    position: absolute;
    font-size: 15px;
    bottom:57px;
    right:8px;
}

.products-container .product-items .color-dots {
    position: absolute;
    bottom: 40px; 
    left: 0px; 
    display: flex; 
    gap: 5px;
}

.products-container .product-items .color-dot {
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    cursor: pointer; 
    border: 1px solid #ccc; 
}

.products-container .product-items .color-dot-white {
    background-color: white;
    position: absolute;
    left:55px;
    bottom:8px;
}

.products-container .product-items .color-dot-white-pink {
    background-color: rgb(247, 219, 219);
    position: absolute;
    left:45px;
    bottom:8px;
}

.products-container .product-items .color-dot-black {
    background-color: black;
    position: absolute;
    left:55px;
    bottom:8px;
}

.products-container .product-items .color-dot-brown {
    background-color: rgb(115, 69, 69);
    position: absolute;
    left:45px;
    bottom:8px;
}

.more {
    display: flex;
    justify-content: center;
    left: 50px;
    margin: 40px;
}
.more button {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 100px;
    border: none;
    border-radius: 5px;
    background-color: #76D9C7;
    color: white;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #DFDCDC;
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 8px;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:30px;
}

.contact a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
}

.contact .fb i{ 
    color:blue
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:30px;
}

.info a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    font-size: 15px;
}

.other{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:30px;
}


.other a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.other p {
    font-size: 14px;
}
