body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #76D9C7;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container-header{
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 12px; 
}

.container-header img{
    max-height: 100px;
    box-shadow: none;
    filter: none;
    -webkit-filter: none;
    transform: scaleX(-1);

}

.container-header h1 {
    font-size: 24px;
    color: black;
    font-style: italic;
    font-family: "Lemonada", cursive;
    flex-grow: 1;
    margin: 0;
}

.container-header i {
    font-size: 24px;
    color: black;
    cursor: pointer;
    font-size:40px;
    margin:10px;
}

.nav-container {
    margin-top: 120px; 
    padding: 20px;
    display: flex;
    background-color: #9ae2d5;
    height: 50px;
    align-items: center;
    top:0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.filter-container {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;
}

.filter-container label {
    font-weight: bold;
}

.filter-container select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 17px;
    cursor: pointer;
}

.main-nav ul {
    display: flex;
    text-align: center;
    list-style: none;
    gap: 50px;
    margin-left:100px;
}

.main-nav ul li {
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.main-nav ul li:hover{
    background-color: #16e0bb;
    box-shadow: 0 0px 10px #46ad9a;
}
.main-nav ul li a{
    display: block;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.main-order {
    margin-top: 50px;
}

.table-order {
    background-color: #f0f8ff;
    margin-left: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 93%;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.order-info {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    font-weight: bold;
    font-size: 20px;
}

.order-status {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border-bottom: 3px solid #DFDCDC;
}

.order-status i {
    color:green;
    padding-right: 5px;
}

.order-status-yellow {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border-bottom: 3px solid #DFDCDC;
}

.order-status-yellow i {
    color:#3498db;
    padding-right: 5px;
}

.order-status-red {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border-bottom: 3px solid #DFDCDC;
}

.order-status-red i {
    color:red;
    padding-right: 5px;
}


.order-status-processing {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    border-bottom: 3px solid #DFDCDC;
}

.order-status-processing i {
    color:#f1c40f;
    padding-right: 5px;
}


.order-items {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid #DFDCDC;
}

.order-items .img-money {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-items .img-money p {
    font-size: 21px;
    font-weight: bold;
}


.order-items .img-money img {
    width: 110px;
    height: 130px;
}

.order-items .name-size {
    position: absolute;
    display: flex;
    flex-direction: column;
    top:50px;
    left: 135px;
}

.order-items .name-size p {
    margin: 0;
    padding-bottom: 3px;
    font-size: 18px;
}

.order-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
}

.order-actions {
    display: flex;
    justify-content: flex-end;
    gap:10px;
}

.order-actions a {
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #007bff;
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.order-actions .details {
    background-color: white;
    color:black;
    border: 2px solid #DFDCDC;
    transition: all 0.3 ease;
}

.order-actions .details:hover {
    box-shadow: 0px 0px 15px #aaa9a9;
}

.order-actions a:hover {
    box-shadow: 0px 0px 15px #0056b3;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #DFDCDC;
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 8px;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:30px;
}

.contact a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
}

.contact .fb i{ 
    color:blue
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:30px;
}

.info a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    font-size: 15px;
}

.other{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:30px;
}

.other a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.other p {
    font-size: 14px;
}
