body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #76D9C7;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container-header{
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 12px; 
}

.container-header img{
    max-height: 100px;
    box-shadow: none;
    filter: none;
    -webkit-filter: none;
    transform: scaleX(-1);

}

.container-header h1 {
    font-size: 24px;
    color: black;
    font-style: italic;
    font-family: "Lemonada", cursive;
    flex-grow: 1;
    margin: 0;
}

.container-header i {
    font-size: 24px;
    color: black;
    cursor: pointer;
    font-size:40px;
    margin:10px;
}

.nav-container {
    margin-top: 120px; 
    padding: 20px;
    display: flex;
    background-color: #9ae2d5;
    height: 50px;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.nav-container .main-search{
    display: flex;  
    margin-left: 30px;
    align-items: center;
}

.search input {
    position: relative;
    width: 390px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #D9D9D9;
    padding: 0 15px;
    padding-left: 40px;
    font-size: 16px;
}

.search i {
    position: absolute;
    left: 60px;
    transform: translateY(30%);
    font-size: 20px;
    color: #888;
    cursor: pointer;
    z-index: 200;
}

.filter {
    margin-left: 20px;
}

.filter select {
    height: 34px;
    border-radius: 10px;
    border: 2px solid #D9D9D9;
    padding: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

.main-nav ul {
    display: flex;
    text-align: center;
    list-style: none;
    gap: 50px;
    margin-left:100px;
}

.main-nav ul li {
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.main-nav ul li:hover{
    background-color: #16e0bb;
    box-shadow: 0 0px 10px #46ad9a;
}
.main-nav ul li a{
    display: block;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-items: flex-start;
    margin:260px 0 50px 30px;
    gap:50px;
}

.products-container .product-items {
    position: relative;
    width: 320px;
    height: 290px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px #D9D9D9;
    border: 1px solid #D9D9D9;
    cursor: pointer;
}

.products-container .product-items:hover {
    box-shadow: 0 0 15px #22B6E8;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.products-container .product-items img {
    position: absolute;
    max-width: 130px;
    max-height: 130px;
    object-fit: contain;
    left:20px;
    top:50px;
}

.products-container .product-items h3 {
    position: absolute;
    top:50px;
    font-style: italic;
    right: 50px;
}

.products-container .product-items .star {
    position: absolute;
    top: 10px;
    left:150px;
}

.products-container .product-items h4 {
   position: absolute;
   bottom: 40px;
}

.products-container .product-items p {
    position: absolute;
    font-size: 25px;
    font-style: bold;
    bottom:95px;
    right:40px;
}

.products-container .product-items span {
    position: absolute;
    font-size: 15px;
    bottom:100px;
    right:40px;
}

.products-container .product-items .color-dots {
    position: absolute;
    bottom: 40px; 
    left: 0px; 
    display: flex; 
    gap: 5px;
}

.products-container .product-items .color-dot {
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    cursor: pointer; 
    border: 1px solid #ccc; 
}

.products-container .product-items .color-dot-black {
    background-color: black;
    position: absolute;
    left:75px;
    bottom:50px;
}

.products-container .product-items .color-dot-brown {
    background-color: rgb(115, 69, 69);
    position: absolute;
    left:65px;
    bottom:50px;
}

.products-container .product-items button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.products-container .product-items input[type="checkbox"] {
  accent-color: #76D9C7;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.pay {
    position: fixed;
    bottom: 25px;
    right: 80px;
}

.sum {
  position: fixed;
  bottom: 10px;
  right: 220px;
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  background-color: rgba(118, 217, 199, 0.5);
  padding: 15px 25px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px #76D9C7;
  font-size: 23px;
  color: black;
  font-weight: bold;
  line-height: 30px;
  gap:30px;
}

.sum p {
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  margin:10px;
}
.sum .money {
    position: absolute;
    top:45.5px;
    right: 10px;
}

.buy-button {
  padding: 10px 20px;
  font-size: 20px;
  width: 100px;
  height: 80px;
  border: none;
  border-radius: 5px;
  background-color: rgb(139, 248, 118, 0.5);
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buy-button:hover {
    background-color: #56e486;
    box-shadow: 0 0px 15px #2ee985;
}

.more {
    display: flex;
    justify-content: center;
    margin: 40px;
}
.more button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #76D9C7;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.more button:hover {
    background-color: #16e0bb;
    box-shadow: 0 0px 15px #4ee7cb;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: #DFDCDC;
    text-align: center;
    padding: 10px;
    color: black;
    font-size: 8px;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:30px;
}

.contact a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
}

.contact .fb i{ 
    color:blue
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:30px;
}

.info a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    font-size: 15px;
}

.other{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height:30px;
}

.other a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.other p {
    font-size: 14px;
}
